@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100vh;
  height: 100dvh;
}

body {
  background-color: #ffffff;
}

#root > div {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151718;
  }
}

@media (min-width: 1200px) {
  #root {
    max-width: 60vw;
    margin: 0 auto;
  }
}
