@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
}

body {
  background-color: #ffffff;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151718;
  }
}

@media (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
  }

  #root {
    width: 70vw;
  }
}
